# Warning: Do not add secrets (API keys and similar) to this file, as it source controlled!
# Use `.env.local` for any secrets, and ensure it is not added to source control

PUBLIC_SANITY_PROJECT_ID=""
PUBLIC_SANITY_DATASET=""
PUBLIC_SANITY_VISUAL_EDITING_ENABLED="true"
SANITY_API_READ_TOKEN=""

RAILWAY_API_TOKEN=""
RAILWAY_SERVICE_ID=""
RAILWAY_ENVIRONMENT_ID=""

SENTRY_AUTH_TOKEN=""
SENTRY_DSN=""
