@font-face {
  font-family: "Geist-Light";
  src: url("/fonts/Geist-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Regular";
  src: url("/fonts/Geist-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Medium";
  src: url("/fonts/Geist-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Bold";
  src: url("/fonts/Geist-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geist-Black";
  src: url("/fonts/Geist-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes:
'wght' (range from 300.0 to 900.0
*/
@font-face {
  font-family: "Geist-Variable";
  src: url("/fonts/Geist[wght].woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
