---
import PortableText from "@/components/portable-text.astro";
import MainLayout from "@/layouts/main.astro";
import { loadQuery } from "@/sanity/lib/load-query";
import type { SanityDocument } from "@sanity/client";

const { data: settings } = await loadQuery<SanityDocument>({
  query: `*[_type == "siteSettings"][0]`,
});
---

<MainLayout>
  <div class="max-w-prose">
    <PortableText portableText={settings.about} />
  </div>
</MainLayout>
