---
import { Heading, Paragraph } from "@/components/ui/text";
import MainLayout from "@/layouts/main.astro";
import { loadQuery } from "@/sanity/lib/load-query";
import { urlForImage } from "@/sanity/lib/url-for-image";
import type { SanityDocument } from "@sanity/client";
import { Image } from "astro:assets";

const { data: projects } = await loadQuery<SanityDocument[]>({
  query: `*[_type == "project"] | order(_createdAt)`,
});
---

<MainLayout title="Projects">
  {
    projects.map((project) => (
      <div class="relative flex flex-col gap-6 md:flex-row-reverse">
        <div class="top-20 h-fit md:sticky md:flex-1">
          <Heading variant="h4">{project.title}</Heading>
          <Paragraph className="text-muted-foreground">{project.description}</Paragraph>
        </div>

        <div class="space-y-2 md:flex-2">
          {project.images.map((image: SanityDocument) => (
            <Image inferSize src={urlForImage(image).url()} alt={image.alt} class="rounded-md" />
          ))}
        </div>
      </div>
    ))
  }
</MainLayout>
