---
import { Contact } from "@/components/contact";

const navItems = [
  { title: "Projects", href: "/projects" },
  { title: "Snippets", href: "/snippets" },
  { title: "Writing", href: "#" },
];
---

<nav class="mt-auto flex flex-col gap-2">
  {
    navItems.map((item) => (
      <a href={item.href} class="link w-fit">
        {item.title}
      </a>
    ))
  }

  <Contact client:load>Contact</Contact>
</nav>
