---
import { Paragraph } from "@/components/ui/text";
import { formatDate } from "@/lib/utils";
import MainLayout from "@/layouts/main.astro";
import { loadQuery } from "@/sanity/lib/load-query";
import type { SanityDocument } from "@sanity/client";

const { data: snippets } = await loadQuery<SanityDocument[]>({
  query: `
    *[_type == "snippet"] | order(publishedAt desc) | {
      description,
      "slug": slug.current, 
      publishedAt
    }
  `,
});
---

<MainLayout title="Snippets">
  <Paragraph>Bunch of stuff I keep I keep forgetting no matter how much I use them.</Paragraph>

  <div class="space-y-8">
    {
      snippets.map((snippet) => (
        <a href={`/snippets/${snippet.slug}`} class="group block w-fit">
          <Paragraph>{snippet.description}</Paragraph>
          <Paragraph className="text-sm text-muted-foreground">
            {formatDate(snippet.publishedAt)}
          </Paragraph>
        </a>
      ))
    }
  </div>
</MainLayout>
