---
import { Heading, Paragraph } from "@/components/ui/text";
import { formatDate } from "@/lib/utils";
import MainLayout from "@/layouts/main.astro";
import { loadQuery } from "@/sanity/lib/load-query";
import type { SanityDocument } from "@sanity/client";
import { Badge } from "@/components/ui/badge";

const { data: snippets } = await loadQuery<SanityDocument[]>({
  query: `
    *[_type == "snippet"] | order(publishedAt desc) | {
      description,
      "slug": slug.current, 
      "tags": tags[]->title,
      publishedAt
    }
  `,
});
---

<MainLayout title="Snippets">
  <div class="space-y-2">
    <Heading>Snippets</Heading>
    <Paragraph>Bunch of stuff I keep I keep forgetting no matter how much I use them.</Paragraph>
  </div>

  {
    snippets.map((snippet) => (
      <div class="flex flex-col-reverse items-start justify-between gap-2 sm:flex-row">
        <div class="">
          <a href={`/snippets/${snippet.slug}`} class="w-fit">
            <Paragraph>{snippet.description}</Paragraph>
          </a>
          <Paragraph className="text-sm text-muted-foreground">
            {formatDate(snippet.publishedAt)}
          </Paragraph>
        </div>

        <div class="hidden h-6 grow items-center sm:flex">
          <span class="bg-border/40 h-px w-full" />
        </div>

        {!!snippet.tags?.length && (
          <div class="mt-0.5 flex h-fit items-start gap-0.5">
            {snippet.tags.map((tag: string) => (
              <Badge variant="outline">{tag}</Badge>
            ))}
          </div>
        )}
      </div>
    ))
  }
</MainLayout>
