---
import { Paragraph } from "@/components/ui/text";
import { formatDate } from "@/lib/utils";
import MainLayout from "@/layouts/main.astro";
import { loadQuery } from "@/sanity/lib/load-query";
import type { SanityDocument } from "@sanity/client";
import { Badge } from "@/components/ui/badge";

const { data: snippets } = await loadQuery<SanityDocument[]>({
  query: `
    *[_type == "snippet"] | order(publishedAt desc) | {
      description,
      "slug": slug.current, 
      "tags": tags[]->title,
      publishedAt
    }
  `,
});
---

<MainLayout title="Snippets">
  <Paragraph>Bunch of stuff I keep I keep forgetting no matter how much I use them.</Paragraph>

  <div class="space-y-8">
    {
      snippets.map((snippet) => (
        <div class="flex items-start justify-between gap-4">
          <div class="">
            <a href={`/snippets/${snippet.slug}`} class="w-fit">
              <Paragraph>{snippet.description}</Paragraph>
            </a>
            <Paragraph className="text-sm text-muted-foreground">
              {formatDate(snippet.publishedAt)}
            </Paragraph>
          </div>

          <div class="hidden h-8 grow items-center sm:flex">
            <span class="bg-border/40 h-px w-full" />
          </div>

          {!!snippet.tags?.length && (
            <div class="mt-1.5 hidden h-8 items-start gap-0.5 sm:flex">
              {snippet.tags.map((tag: string) => (
                <Badge variant="outline">{tag}</Badge>
              ))}
            </div>
          )}
        </div>
      ))
    }
  </div>
</MainLayout>
