---
import { Badge } from "@/components/ui/badge";
import { Paragraph } from "@/components/ui/text";
import MainLayout from "@/layouts/main.astro";
import { formatDate } from "@/lib/utils";
import { loadQuery } from "@/sanity/lib/load-query";
import type { SanityDocument } from "@sanity/client";

const { data: writing } = await loadQuery<SanityDocument[]>({
  query: `*[_type == "post"] | order(publishedAt desc) | {
      title,
      description,
      "slug": slug.current, 
      "category": category->title, 
      publishedAt
    }`,
});
---

<MainLayout title="Writing">
  {
    writing.map((w) => (
      <div class="flex flex-col-reverse items-start justify-between gap-2 sm:flex-row">
        <div class="">
          <a href={`/snippets/${w.slug}`} class="w-fit">
            <Paragraph>{w.title}</Paragraph>
          </a>
          <Paragraph className="text-sm text-muted-foreground">
            {formatDate(w.publishedAt)}
          </Paragraph>
        </div>

        {w.category && (
          <div class="hidden h-6 grow items-center sm:flex">
            <span class="bg-border/40 h-px w-full" />
          </div>
          <Badge variant="outline">{w.category}</Badge>
        )}
      </div>
    ))
  }
</MainLayout>
